@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.drag-area{
  border: 2px dashed ;
  height: 180px;
  width: 380px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.drag-area.active{
  border: 2px solid ;
}
.drag-area .icon{
  font-size: 50px;

}
.drag-area header{
  font-size: 5px;
  font-weight: 500;
 
}

.drag-area button{
 
  font-size: 12px;
  font-weight: 500;
  border: none;
  outline: none;
 

  border-radius: 5px;
  cursor: pointer;
}
.drag-area img{
  height: 40%;
  width: 40%;
  object-fit: cover;
  border-radius: 5px;
}